<div class="footer" style="background-color: rgb(50, 50, 50); padding: 20px; text-align: center;">
    <div class="row justify-content-center">
        <a href="https://www.grc.de/" target="_blank"><img src="{% img logo_grc.png;image/png %}" alt="" class="img-cover ml-4 mr-4 shadow" style="height: 50px;"></a>
        <a href="https://www.vdh.de/" target="_blank"><img src="{% img logo_vdh.png;image/png %}" alt="" class="img-cover ml-4 mr-4 shadow" style="height: 50px;"></a>
        <a href="http://www.fci.be/" target="_blank"><img src="{% img logo_fci.png;image/png %}" alt="" class="img-cover ml-4 mr-4 shadow" style="height: 50px;"></a>
    </div>
    <br>
    <p style="color: white;">&copy; 2021&nbsp;&nbsp;&nbsp;Kathrin Ilchmann&nbsp;&nbsp;&nbsp;Von Der Waldkolonie</p>
    <p style="color: white;"><a href="/index.php/impressum">Impressum</a>&nbsp;&nbsp;&nbsp;&#124;&nbsp;&nbsp;&nbsp;<a href="./index.php/privacy">Datenschutz</a>
</div>